@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {

    /** COLORS **/

    /** primary **/

    --purple50: hsl(260, 100%, 95%);
    --purple300: hsl(264, 82%, 80%);
    --purple500: hsl(263, 55%, 52%);

    /** neutral **/

    --white: hsl(0, 0%, 100%);
    --grey100: hsl(214, 17%, 92%);
    --grey200: hsl(0, 0%, 81%);
    --grey400: hsl(224, 10%, 45%);
    --grey500: hsl(217, 19%, 35%);
    --dark-blue: hsl(219, 29%, 14%);
    --black: hsl(0, 0%, 7%);


    /** FONTS **/

    --main-family: "Barlow Semi Condensed";
    --bold1: 500;
    --bold2: 600;

}


*,*::before,*::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

html {
    box-sizing: border-box;
    font-family: var(--main-family), sans-serif;
    font-size: 0.7rem;
    color: var(--white);

}

body {
    background-color: var(--grey200);
    margin: 2%;
    display: flex;
    justify-content: center;
    

}


/** GRID LAYOUT **/


.card-layout {
    display: grid;
    align-content: center;
    justify-content: center;
    gap: 2rem;
    max-width: 1440px;


}



/** CARD **/

.card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 3rem;
    border-radius: 1rem;
}

.testimonial-heading {
    z-index: 2;
}

.card-1 {background-color: var(--purple500); grid-area: card1;}
.card-2 {background-color: var(--grey500); grid-area: card2;}
.card-3 {background-color: var(--white); color: var(--black); grid-area: card3;}
.card-4 {background-color: var(--dark-blue); grid-area: card4;}
.card-5 {background-color: var(--white); color: var(--black); grid-area: card5;}



.profile {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}

.profile img { border-radius: 50%; }
.profile .name {
    font-weight: var(--bold2);
    margin-bottom: 0.5rem;
}


/** QUERIES **/

@media (min-width: 320px) {
    .card-layout {
        grid-template-areas: 
        "card1"
        "card2"
        "card3"
        "card4"
        "card5";
    }

    .card {
        max-width: 50rem;
    }
}

@media (min-width: 1024px) {
    .card-layout {
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas: 
        "card1 card1 card2 card5"
        "card3 card4 card4 card5";
    }

    .card {
        max-width: none;
    }
}
